*{margin: 0px;
    padding: 0px;
    }
    
    
    body{
       width: 100%;
       height: 100vh;
       background-image: linear-gradient(to right top, #6ba6f9, #4f7acc, #35509f, #1a2873, #000049);   display: flex;
      align-items: center;
    }
    
    
    main{
       
       background-color: rgb(48, 48, 48);
       text-align: center;
       width: 75%;
       margin: 0px auto;
       padding: 25px;
       border-radius: 30px;
       border: outset rgb(65, 65, 65) 5px;
       box-shadow: rgba(14, 30, 37, 1) 0px 2px 4px 0px, rgba(14, 30, 37, 1) 0px 2px 16px 0px;
     
    }
    
    .JS{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
       margin-top: 25px;
       padding: 5px;
    }
    
    img{
       width: 200px;
       height: 125px;
       border-radius: 30px;
       border: outset rgb(31, 59, 196) 5px;
    }
    
    img:hover{
       transform: scale(1.1);
       transition: 0.5s;
    }
    
    h1{
       color: white;
       font-size: 70px;
       font-family: blank;
       border-bottom: solid rgba(168, 166, 166, 0.493) 3px ;
    }
    
    div{
       width: 250px;
    }
    
    h4{
      
       color: white;
       font-size: 25px;
       font-family: cursive;
       
    }
    
    
    
    a{
       text-decoration: none;
    }